<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Review app by Humanpanda666</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>

  <body>
    <div class="navbarDiv">
      <ul class="navbar container">
        <li class="home"><a href="/">Home</a></li>
      </ul>
        <button class="btn" onclick="window.location.href='/review';">New review</button>
      </a>
    </div>
  </body>
</html>
