<%- include("header") -%>
<div class="container main">
  <h2>All reviews</h2>
  <h3>Check them out!</h3>
</div>

<% reviews.forEach(function(review){ %>
<div class="review">
  <h4>From: <%=review.reviewName%></h4>
  <p><%=review.reviewBody%></p>
</div>
<%})%>
