<form action="addReview" method="post">
  <label for="reviewName">Your name</label>
  <input type="text" name="reviewName" />
  <br />
  <label for="reviewBody">Your review</label>
  <textarea name="reviewBody" rows="6"></textarea>
  <br />
  <button type="submit">Add your review</button>
</form>
